*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: black;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem 2.4rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.15);
}
.header__list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.header__listItem {
  font-size: 1.6rem;
  color: #1c1d1f;
  padding: 1rem 0.5rem;
  font-weight: 500;
}
.header__form {
  outline: auto;
  border-radius: 5rem;
  position: relative;
  padding: 0.6rem;
  width: 100vh;
  display: flex;
}
.header__form--zoekbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: none;
  cursor: pointer;
  color: grey;
  background: transparent;
}
.header__form--input {
  border: 0;
  outline: none;
  padding: 1.5rem 2rem;
  width: 100%;
  height: 0.4rem;
}
.header__button {
  height: 4rem;
  position: relative;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  font-weight: 700;
  padding: 0 1.2rem;
  border: 0.1rem solid #1c1d1f;
}
.header__button--inloggen {
  background: white;
}
.header__button--inloggen:hover {
  background: #f5efef;
}
.header__button--inschrijven {
  background: black;
  color: #fff;
}
.header__button--inschrijven:hover {
  background: #1d1d1d;
}
.header__button--taal {
  background: white;
  min-width: 4rem;
}
.header__button--taal:hover {
  background: #f5efef;
}
.header__image {
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 100%;
}
.header__tekst {
  position: absolute;
  padding: 2.4rem;
  max-width: 40rem;
  background: #eee;
  top: 17rem;
  left: 15rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.35);
}

.producten {
  margin-top: 5rem;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.producten__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 80%;
}
.producten__listItem {
  width: 25rem;
  list-style: none;
  padding: 0.2rem;
}
.producten__listItem--img {
  height: 14rem;
  width: 25rem;
}
.producten__listItem:hover {
  cursor: pointer;
}
.producten__arrow {
  width: 4rem;
  height: 4rem;
  background: black;
  color: white;
  font-size: 3.5rem;
  outline: none;
  border: none;
  border-radius: 50%;
}
.producten__arrow:hover {
  cursor: pointer;
}
.producten__figure {
  margin-top: 2rem;
  padding-left: 8rem;
  display: flex;
  justify-content: flex-start;
}

.onderwerpen {
  background: #e4e7e8;
  list-style: none;
  padding: 5rem;
}
.onderwerpen__categorieen {
  display: flex;
  justify-content: space-around;
}
.onderwerpen__h2 {
  margin-bottom: 2.4rem;
}
.onderwerpen__section {
  margin-top: 2rem;
}

.influencer__div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.influencer__figure {
  height: 40rem;
  width: 50rem;
  padding: 3rem;
}
.influencer__img {
  width: 77%;
}
.influencer__section {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.influencer__section--h2 {
  width: 25ch;
  font-size: 4rem;
}
.influencer__section--p {
  width: 45ch;
  font-size: 2.5rem;
}
.influencer__section--button {
  height: 4rem;
  position: relative;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  font-weight: 700;
  background: black;
  color: white;
  width: 20rem;
  font-weight: 750;
  font-size: 1.7rem;
}
.influencer__section--button:hover {
  background: #1d1d1d;
}

.gamemakers {
  margin: auto;
  width: 92%;
}
.gamemakers__h2 {
  font-size: 3.2rem;
  padding: 3rem;
}
.gamemakers__p {
  font-size: 1.9rem;
  padding-left: 3rem;
}
.gamemakers__list {
  display: flex;
  font-size: 1.6rem;
  padding: 3rem;
  gap: 2rem;
  list-style: none;
  font-weight: 700;
}
.gamemakers__listItem {
  font-size: 100%;
  color: #4b4545;
}
.gamemakers__listItem:hover {
  color: black;
  cursor: pointer;
}
.gamemakers__article {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 3rem;
  width: 96%;
  padding: 4rem;
  height: 23rem;
  border: 0.2rem solid #D1D7DC;
}
.gamemakers__article--h2 {
  margin-bottom: 1rem;
}
.gamemakers__article--p {
  width: 90ch;
}
.gamemakers__article--button {
  height: 4rem;
  position: relative;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  font-weight: 700;
  margin-top: 1.3rem;
  background: transparent;
  border: 0.1rem solid black;
  width: 12.7rem;
}

.footer {
  display: flex;
  background: #1c1d1f;
}
.footer__section {
  border-top: 0.1rem solid #3e4143;
  color: #eee;
  padding-top: 2.4rem;
  padding-left: 4.8rem;
  padding-right: 4.8rem;
  width: 100%;
}
.footer__div {
  display: flex;
}
.footer__figure {
  padding: 0 0 2.4rem;
  order: 1;
  margin-left: auto;
}
.footer__figure--button {
  height: 4rem;
  position: relative;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  font-weight: 700;
  border: 0.1rem solid white;
  color: white;
  background: transparent;
  padding: 1rem;
}
.footer__figure--button:hover {
  background: #1d1d1d;
}
.footer__list {
  font-size: 1.7rem;
  padding-right: 6rem;
}
.footer__listItem {
  margin-bottom: 1rem;
  list-style: none;
}
.footer__copyrightenlogo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7rem 0 3rem;
}
.footer__copyrightenlogo--p {
  font-size: 1.7rem;
}

@media screen and (max-width: 83.75rem) {
  .header__nav {
    box-shadow: none;
    width: max-content;
  }
  .header__listItem {
    font-size: 1.5rem;
  }
  .header__form {
    width: auto;
  }
  .producten__listItem {
    width: 20rem;
  }
  .header__image {
    width: 65%;
  }
}
@media screen and (max-width: 75rem) {
  .producten__listItem--img5 {
    display: none;
  }
}
@media screen and (max-width: 70.625rem) {
  .header__image {
    width: 70%;
  }
  .gamemakers__article--p {
    width: auto;
  }
  .producten__listItem {
    width: 100%;
  }
}
@media screen and (max-width: 62.5rem) {
  .header__nav {
    width: 90%;
  }
  .header__image {
    width: 60%;
  }
  .header__button--taal, .header__button--inschrijven {
    display: none;
  }
  .header__listItem--tekst {
    display: none;
  }
  .influencer {
    margin: 5rem;
  }
  .influencer__img {
    display: none;
  }
  .influencer__figure {
    height: 0;
    width: 0;
    padding: 0;
  }
  .producten__listItem--img4 {
    display: none;
  }
}
@media screen and (max-width: 56.25rem) {
  .header__listItem {
    font-size: 1.6rem;
  }
  .header__image {
    width: 30%;
  }
}
@media screen and (max-width: 53.123rem) {
  .header__nav {
    width: auto;
  }
  .header__form--input {
    display: none;
  }
  .header__form {
    outline: none;
  }
}
@media screen and (max-width: 50rem) {
  .header__tekst {
    display: none;
  }
  .header__image {
    width: 15%;
  }
}
@media screen and (max-width: 43.75rem) {
  .header__nav {
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.15);
  }
  .header__listItem {
    font-size: 2.2rem;
  }
  .header__button {
    display: none;
  }
  .header__image {
    display: none;
  }
  .footer__div {
    flex-direction: column;
  }
  .gamemakers__list {
    font-size: 1.3rem;
  }
  .influencer__section {
    margin: auto;
  }
  .influencer__section--p {
    width: auto;
    font-size: 1.7rem;
  }
  .gamemakers__listItem--l7 {
    display: none;
  }
  .onderwerpen__categorieen {
    flex-direction: column;
  }
  .producten__listItem--img3 {
    display: none;
  }
}
@media screen and (max-width: 31.25rem) {
  .gamemakers__article {
    padding: 2rem;
  }
  .gamemakers__listItem--l6 {
    display: none;
  }
  .influencer__section--h2 {
    width: 80%;
    font-size: 2.7rem;
  }
  .influencer__section--p {
    font-size: 1.5rem;
    width: 95%;
  }
  .influencer__section--button {
    height: 4rem;
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 25rem) {
  .gamemakers__listItem--l5 {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
